<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
   	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<section class="offset-lg-2 col-md-10" layout:fragment="conteudo">
		
    <br/>
 
  		<!-- <table class="table table-borderless">
                <thead>
                    <th scope="col">Nome do Tanque</th>
                    <th scope="col">Tipo de Tanque</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <tr th:each="reservatorio : ${reservatorios}">                        
                        <td th:text="${reservatorio.nome}"></td>
                        <td th:text="${reservatorio.tipo.tipo}"></td>
                        <td>
                        	<form th:action="@{/volume/ver/{id}(id=${reservatorio.id})}" class="form" method="POST">
                                <input type="hidden" name="_method" value="GET">
                                <button type="submit" class="btn btn-sm	 btn-warning">
                                    <i class="material-icons">visibility</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
         </table> -->
         
         <div class="row">
         	<div class="col-sm-4" th:each="reservatorio : ${reservatorios}">
			   <div class="card">
			     <div class="card-body">
			       <h5 class="card-title" th:text="${reservatorio.nome}"></h5>
			       <p class="card-text" th:text="${reservatorio.tipo.tipo}"></p>
			       <form th:action="@{/ver-volume/vol/{id}(id=${reservatorio.id})}" class="form" method="POST">
                       <input type="hidden" name="_method" value="GET">
                       <button type="submit" class="btn btn-sm	 btn-primary">
                            Ver volume!
                       </button>
                   </form>
			     </div>
			   </div>
			</div>
         </div>
            
     
</section>