<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
   	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<section class="offset-lg-2 col-md-10" layout:fragment="conteudo">
		
	<div class="container">
		<div align="center">
			<div style="padding: 10%; ">
				<img src="/img/logo.png" width="100">
				<h1 style="color: #666; font-family: 'AmpleSoft-Medium', sans-serif;">Olá! Seja bem vindo!</h1>
				<h6>					
					<p>O AquaLevel é um sistema integrado de gestão voltado para o uso sustentável da água, fornecendo leituras precisas dos reservatórios de determinada propriedade, seja ela comercial, industrial ou residencial. Através do AquaLevel é possível verificar o nível atual dos reservatórios, bem como consultar o histórico armazenado pela aplicação gerando gráficos de consumo médio diário, semanal, mensal e anual.</p>
		
					<p>O AquaLevel visa oferecer ao mercado uma ferramenta web para monitoramento e gestão inteligente de recursos hídricos para ambientes comerciais, industriais ou residenciais possibilitando, com isso, um planejamento assertivo acerca do uso sustentável da água, assim como a gestão financeira, podendo dessa forma, minimizar gastos excessivos e identificar possíveis focos de desperdício.</p>
		
				</h6>
			</div>		
		</div>
		
		
		
	</div>
</section>