<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{css/style.css}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <title>AquaLevel</title>
</head>
<body>
	<nav class="navbar navbar-light bg-dark">
       <div class="container">
        	<a class="navbar-brand" th:href="@{/}">Home</a>
	        <a class="navbar-brand" th:href="@{/sobre}">Sobre</a>
	        <a class="navbar-brand" th:href="@{/contato}">Contato</a>	        
	        <a class="btn btn-link btn-md end" th:href="@{/login}">Entrar</a>
        </div>
   </nav>

        
       <div class="container">

               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed velit ac nunc porttitor fringilla sed vel orci. Nunc libero purus, interdum nec risus et, egestas facilisis lacus. Nullam nec cursus nisi, at pharetra risus. Nullam congue non nisi id volutpat. Aliquam consectetur pulvinar ante. Phasellus non pellentesque urna. Duis purus dui, tristique non ullamcorper vitae, gravida in dui. Vivamus scelerisque lectus et tortor commodo tristique. Cras efficitur tortor a ex pulvinar aliquam. Sed eget rutrum arcu. Fusce lobortis scelerisque ipsum nec cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce auctor urna nibh. Proin imperdiet dui in aliquet mattis.</p>
               
               <p>Pellentesque vel lorem ultrices, fermentum est ac, eleifend nisl. Etiam eget quam sed neque pretium vulputate. Duis lobortis iaculis massa, vitae sodales urna mollis ac. Nullam a mi sem. Proin tincidunt erat vel condimentum interdum. Nunc dictum, neque non auctor rhoncus, felis ex hendrerit orci, in congue sapien purus euismod nibh. Curabitur ut quam ut odio euismod ornare. Nulla at tellus justo. Pellentesque accumsan massa varius aliquam lacinia. Morbi imperdiet nec sem in pharetra. Duis volutpat tempus massa, in malesuada lacus luctus scelerisque. Sed ullamcorper ultricies lacinia. Cras tempus lectus pharetra tincidunt vestibulum. Mauris tincidunt erat metus. In egestas magna a nisi efficitur laoreet. Nulla viverra leo nec erat aliquet efficitur.</p>
               
               <p>Maecenas id metus erat. Cras quis augue pretium, efficitur tortor quis, mollis quam. Etiam non augue mauris. Praesent sollicitudin, purus id mollis pellentesque, quam tortor blandit metus, eu laoreet tortor mi a quam. Quisque tincidunt nisi id massa scelerisque faucibus. Quisque posuere vulputate placerat. Sed in facilisis enim. Duis et aliquam quam, ac finibus diam. Nulla quis varius metus, ut congue ex. Vivamus luctus ullamcorper magna, in elementum diam sodales ac. Vivamus cursus facilisis nunc in luctus. Nulla laoreet varius elit sit amet imperdiet.</p>
               
               <p>Duis sit amet cursus massa. Morbi laoreet diam vel nulla eleifend, eu porta urna feugiat. Ut lacinia libero nec diam imperdiet, vel dignissim ipsum tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus pellentesque nunc sit amet aliquam facilisis. Donec aliquet vulputate turpis, ac vestibulum sem rutrum vel. Vivamus ac pharetra tortor, vitae euismod tellus. Praesent semper rutrum velit vel lobortis. Vivamus vel tortor tellus. Vestibulum nec nisi sit amet ipsum bibendum varius non ac sapien. Curabitur dapibus pulvinar augue sit amet ultrices.</p>
           
               <p>Morbi pellentesque sem in nibh hendrerit pretium. Cras condimentum nunc sed arcu dignissim, quis viverra lectus lacinia. Aenean nec velit sed ante imperdiet placerat. Vivamus vel erat vitae mi rhoncus bibendum. Donec et magna vitae lacus aliquam euismod ac quis dolor. Aenean urna metus, finibus sed tortor eu, varius iaculis erat. Aliquam nec justo iaculis, aliquam arcu at, consequat nisi. Mauris posuere facilisis turpis, non maximus tortor mattis sit amet. Etiam eu tempor metus. Nam cursus posuere elit id sagittis.</p>
               
       </div>
</body>
</html>